 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
  <div class="tech eos-blockchain">
    <h2>EOS Blockchain</h2>
    <img src="assets/img/logo.gif" alt="EOS Blockchain" title="EOS Blockchain">
    <p>
      This is where I'm all excited about: developing blockchain smart
      contracts and tooling for EOS Blockchain. I've already released two
      Dapps that are in the EOS Main Network!
    </p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Front End</h2>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-vuejs-plain colored"></i>
    <i class="devicon-angularjs-plain-wordmark colored"></i>
    <p>
      My most recent front-end projects have been Single Page Applications and Progressive Web Apps built with React, Vue or Angular, as well as plain Javascript, HTML & CSS.
    </p>
  </div>
  <div class="tech">
    <h2>Back End</h2>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-php-plain colored"></i>
    <p>
      The bulk of my back-end portfolio is made up of Java - utilizing EE, Spring, Hibernate and building Microservices - for enterprise clients. Recently, I've also worked with PHP and node.js
    </p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Mobile Apps</h2>
    <i class="devicon-android-plain colored"></i>
    <i class="devicon-apple-original"></i>
    <p>
      I have the most experience building Android and iPhone apps with ReactNative and Ionic. I've also delved into Java and Objective-C.
    </p>
  </div>
  <div class="tech">
    <h2>Functional Programming</h2>
    <img src="assets/img/elm.png" title="Elm" alt="elm-lang"></i>
    <img src="assets/img/phoenix-framework.png" title="Phoenix Framework" alt="Phoenix Framework" />
    <img src="assets/img/elixir.png" title="elixir" alt="Elixir" />
    <p>
      Currently what I'm spending my free time on. I love functional programming and currently use the <span class="love">Elm + Phoenix + Elixir ❤ stack on my own projects and innovative clients.</span>
    </p>
  </div>
</div>
<div class="user">
    <div class="tech">
      <h2>Platforms</h2>
      <img src="assets/img/salesforce.png" title="Salesforce" alt="salesforce apex"></i>
      <img src="assets/img/sap.png" alt="SAP Abap Workflow BW" title="SAP Abap Workflow BW"></i>
      <p>
        SalesForce is my bread and butter with experience in implementation projects and 3 managed packages using Apex and VisualForces. I've worked as consultant for SAP ERP systems starting as an ABAP developer and then in Business Warehouse, also working with SAP Fiori and UI5.
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <p>
        Git is my faithful squire: all my sources and files are managed by git repositories. Usually my apps are setup on AWS using EC2, S3, RDS and DynamoDB. My deploy pipeline includes Dockerized Apps on Amazon ECR.
      </p>
    </div>
</div>
