<div class="user-details">
  <h1> My Playground </h1>
</div>
<div class="user-projects">
  <p style="text-align: center;">
    Here I'll share my thoughts and some tests around trending tech
  </p>

  <ul class="playground-links">
    <li>
      <a href="https://steemit.com/eos/@leordev/eos-todo-dapp-free-ram-model-and-state-management-eos-redux-3" target="_blank">
        EOS Blockchain Todo Dapp - Free RAM Model and State Management - EOS + Redux = <3
      </a>
    </li>
    <li>
      <a href="https://steemit.com/eos/@leordev/eos-ram-and-bandwith-analysis-2-tokens-claiming-and-achieving-zero-cost-airdrop" target="_blank">
        EOS Blockchain - EOS RAM and Bandwith Analysis 2: Tokens Claiming and Achieving ZERO-COST Airdrop
      </a>
    </li>
    <li>
      <a href="https://steemit.com/eos/@leordev/eos-ram-and-bandwith-analysis-airdropping-steps-on-junglenet" target="_blank">
        EOS Blockchain - EOS RAM and Bandwith Analysis: Airdropping steps on Junglenet
      </a>
    </li>
    <li>
      <a href="https://steemit.com/eos/@leordev/monstereos-creating-your-first-monster-in-eos-jungle-testnet" target="_blank">
        EOS Blockchain - MonsterEOS: Creating your First Monster in EOS Jungle Testnet
      </a>
    </li>
    <li>
      <a href="https://github.com/leordev/cpp-crash-course" target="_blank">
        C++ Crash Course Review in Code
      </a>
    </li>
  </ul>
</div>
